<h1><%=@article.title%></h1>
<h2><%=@article.body%>
<%= link_to "edit" , edit_article_path(@article) %>
<%= link_to "delete" , "/articles/#{@article[:id]}",data:{
    turbo_method: :delete,
    tubo_cofirm:"Are you sure"
} %>

<% @article.comments.each do |comment|%>
<h1>Commenter</h1>
<h2><%=comment.commenter%></h2>
<h2>Comment</h2>
<h3><%=comment.body%></h3>
<%end%>

<%=form_with model: [@article ,@article.comments.build] do |form| %>
<div>
<%= form.label :commenter%>
<%= form.text_field :commenter%>
<% @comment.errors.full_messages_for(:commenter).each do |message|%>
<div><%=message%></div>
<%end%>
</div>
<div>
<%= form.label :body%>
<%= form.text_area :body%>
</div>
<%=form.submit%>
<%end%>


